body {
  margin: 0;
  background: transparent !important;
  overflow: hidden;
}

#imgBox {
  position: fixed;
  top: 20px;
  right: 20px;
  pointer-events: none;
}

#imgBox img {
  width: 300px; /* change size */
}
